---
swagger: "2.0"
info:
  version: v01
  title: CRM_CONTACT_INTERFACE
host: xxroshnprodoic820-axp3pwu4ewpn-je.integration.ocp.oraclecloud.com:443
basePath: /ic/api/integration/v1/flows/rest/CRM_CONTACT_INTERFACE/1.0
schemes:
- https
paths:
  /updateContact/{RegistryId}:
    patch:
      operationId: UpdateContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: RegistryId
        in: path
        required: true
        type: string
      - name: X-Forwarded-For
        in: header
        required: false
        type: string
      - in: body
        name: request-wrapper
        required: false
        schema:
          $ref: '#/definitions/UpdateContact-request-wrapper'
      security:
      - basicAuthentication: []
      responses:
        "500":
          description: Faults
          schema:
            $ref: '#/definitions/APIInvocationError'
        default:
          description: A sample description of the Response
          schema:
            $ref: '#/definitions/UpdateContact-response-wrapper'
  /getContact/{RegistryID}:
    get:
      operationId: GetContactByRegisteryID
      produces:
      - application/json
      parameters:
      - name: RegistryID
        in: path
        required: true
        type: string
      - name: X-Forwarded-For
        in: header
        required: false
        type: string
      security:
      - basicAuthentication: []
      responses:
        "500":
          description: Faults
          schema:
            $ref: '#/definitions/APIInvocationError'
        default:
          description: A sample description of the Response
          schema:
            $ref: '#/definitions/GetContactByRegisteryID-response-wrapper'
  /createcontact:
    post:
      operationId: CreateContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: X-Forwarded-For
        in: header
        required: false
        type: string
      - in: body
        name: request-wrapper
        required: false
        schema:
          $ref: '#/definitions/CreateContact-request-wrapper'
      security:
      - basicAuthentication: []
      responses:
        "500":
          description: Faults
          schema:
            $ref: '#/definitions/APIInvocationError'
        default:
          description: A sample description of the Response
          schema:
            $ref: '#/definitions/CreateContact-response-wrapper'
  /checkContactExists:
    post:
      operationId: CheckContactExists
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: X-Forwarded-For
        in: header
        required: false
        type: string
      - in: body
        name: request-wrapper
        required: false
        schema:
          $ref: '#/definitions/CheckContactExists-request-wrapper'
      security:
      - basicAuthentication: []
      responses:
        "500":
          description: Faults
          schema:
            $ref: '#/definitions/APIInvocationError'
        default:
          description: A sample description of the Response
          schema:
            $ref: '#/definitions/CheckContactExists-response-wrapper'
securityDefinitions:
  basicAuthentication:
    type: basic
definitions:
  UpdateContact-request-wrapper:
    type: object
    required:
    - AdditionalNo
    - AddressUnitNo
    - AgeRange
    - BankId
    - Building
    - Category
    - City
    - Country
    - DateOfBirth
    - DateOfBirthHijri
    - Disabled
    - DistrictName
    - DoNotCallFlag
    - DoNotEmailFlag
    - DoNotMailFlag
    - DoNotSMS
    - EmailAddress
    - FamilySize
    - FirstName
    - FirstNameEnglish
    - ForgeRockID
    - Gender
    - IBAN
    - IDExpirationDate
    - IDExpirationDateHijri
    - IDNumber
    - IDType
    - JobTitle
    - LastName
    - LastNameEnglish
    - MOHBeneficiary
    - MaritalStatus
    - MiddleNames
    - MiddleNamesEnglish
    - MobileCountryCode
    - MobileNumber
    - Nationality
    - POBox
    - PlaceOfIssue
    - PostalCode
    - PreferredContactMethod
    - Prefix
    - Province
    - RequiresFinance
    - SalaryRange
    - Source
    - SpecialEmployer
    - SpecialOccupation
    - StreetName
    - UseSakani
    properties:
      Prefix:
        type: string
      FirstName:
        type: string
      MiddleNames:
        type: string
      LastName:
        type: string
      JobTitle:
        type: string
      EmailAddress:
        type: string
      MobileCountryCode:
        type: string
      MobileNumber:
        type: string
      Category:
        type: string
      Nationality:
        type: string
      IDType:
        type: string
      IDNumber:
        type: string
      IDExpirationDate:
        type: string
      IDExpirationDateHijri:
        type: string
      DateOfBirth:
        type: string
      DateOfBirthHijri:
        type: string
      PlaceOfIssue:
        type: string
      Gender:
        type: string
      MaritalStatus:
        type: string
      BankId:
        type: string
      IBAN:
        type: string
      PreferredContactMethod:
        type: string
      DoNotCallFlag:
        type: boolean
      DoNotSMS:
        type: boolean
      DoNotEmailFlag:
        type: boolean
      DoNotMailFlag:
        type: boolean
      Country:
        type: string
      City:
        type: string
      Building:
        type: string
      StreetName:
        type: string
      DistrictName:
        type: string
      AddressUnitNo:
        type: string
      PostalCode:
        type: string
      AdditionalNo:
        type: string
      POBox:
        type: string
      Province:
        type: string
      Source:
        type: string
      ForgeRockID:
        type: string
      RequiresFinance:
        type: string
      MOHBeneficiary:
        type: string
      AgeRange:
        type: string
      SalaryRange:
        type: string
      FamilySize:
        type: string
      SpecialEmployer:
        type: string
      SpecialOccupation:
        type: string
      Disabled:
        type: string
      UseSakani:
        type: string
      FirstNameEnglish:
        type: string
      MiddleNamesEnglish:
        type: string
      LastNameEnglish:
        type: string
  UpdateContact-response-wrapper:
    type: object
    required:
    - ContactId
    - RegistryID
    - msg
    properties:
      msg:
        type: string
      RegistryID:
        type: string
      ContactId:
        type: string
  APIInvocationError:
    type: object
    required:
    - detail
    - errorCode
    - errorDetails
    - title
    - type
    properties:
      type:
        type: string
      title:
        type: string
      detail:
        type: string
      errorCode:
        type: string
      errorDetails:
        type: array
        items:
          $ref: '#/definitions/APIInvocationError_errorDetails'
        minItems: 1
  GetContactByRegisteryID-response-wrapper:
    type: object
    required:
    - ARCustomerNumber
    - AdditionalNo
    - AddressUnitNo
    - AgeRange
    - BankName
    - Building
    - Category
    - City
    - ContactId
    - ContactName
    - Country
    - DateOfBirth
    - DateOfBirthHijri
    - Disabled
    - DistrictName
    - DoNotCallFlag
    - DoNotEmailFlag
    - DoNotMailFlag
    - DoNotSMS
    - EmailAddress
    - FamilySize
    - FirstName
    - FirstNameEnglish
    - ForgeRockID
    - FormattedAddress
    - FormattedMobileNumber
    - Gender
    - IBAN
    - IDExpirationDate
    - IDExpirationDateHijri
    - IDNumber
    - IDType
    - JobTitle
    - LastName
    - LastNameEnglish
    - MOHBeneficiary
    - MaritalStatus
    - MiddleNames
    - MiddleNamesEnglish
    - Nationality
    - POBox
    - PlaceOfIssue
    - PostalCode
    - PreferredContactMethod
    - Prefix
    - Province
    - RegistryID
    - RequiresFinance
    - SalaryRange
    - Source
    - SpecialEmployer
    - SpecialOccupation
    - StreetName
    - UseSakani
    properties:
      ContactId:
        type: string
      RegistryID:
        type: string
      Prefix:
        type: string
      FirstName:
        type: string
      MiddleNames:
        type: string
      LastName:
        type: string
      ContactName:
        type: string
      JobTitle:
        type: string
      EmailAddress:
        type: string
      FormattedMobileNumber:
        type: string
      Category:
        type: string
      Nationality:
        type: string
      IDType:
        type: string
      IDNumber:
        type: string
      IDExpirationDate:
        type: string
      IDExpirationDateHijri:
        type: string
      DateOfBirth:
        type: string
      DateOfBirthHijri:
        type: string
      PlaceOfIssue:
        type: string
      Gender:
        type: string
      MaritalStatus:
        type: string
      BankName:
        type: string
      IBAN:
        type: string
      PreferredContactMethod:
        type: string
      DoNotCallFlag:
        type: boolean
      DoNotSMS:
        type: boolean
      DoNotEmailFlag:
        type: boolean
      DoNotMailFlag:
        type: boolean
      Country:
        type: string
      City:
        type: string
      Building:
        type: string
      StreetName:
        type: string
      DistrictName:
        type: string
      AddressUnitNo:
        type: string
      PostalCode:
        type: string
      AdditionalNo:
        type: string
      POBox:
        type: string
      Province:
        type: string
      FormattedAddress:
        type: string
      ARCustomerNumber:
        type: string
      Source:
        type: string
      ForgeRockID:
        type: string
      RequiresFinance:
        type: string
      MOHBeneficiary:
        type: string
      AgeRange:
        type: string
      SalaryRange:
        type: string
      FamilySize:
        type: string
      SpecialEmployer:
        type: string
      SpecialOccupation:
        type: string
      Disabled:
        type: string
      UseSakani:
        type: string
      FirstNameEnglish:
        type: string
      MiddleNamesEnglish:
        type: string
      LastNameEnglish:
        type: string
  CreateContact-request-wrapper:
    type: object
    required:
    - AdditionalNo
    - AddressUnitNo
    - AgeRange
    - BankId
    - Building
    - Category
    - City
    - Country
    - DateOfBirth
    - DateOfBirthHijri
    - Disabled
    - DistrictName
    - DoNotCallFlag
    - DoNotEmailFlag
    - DoNotMailFlag
    - DoNotSMS
    - EmailAddress
    - FamilySize
    - FirstName
    - FirstNameEnglish
    - ForgeRockID
    - Gender
    - IBAN
    - IDExpirationDate
    - IDExpirationDateHijri
    - IDNumber
    - IDType
    - JobTitle
    - LastName
    - LastNameEnglish
    - MOHBeneficiary
    - MaritalStatus
    - MiddleNames
    - MiddleNamesEnglish
    - MobileCountryCode
    - MobileNumber
    - Nationality
    - POBox
    - PlaceOfIssue
    - PostalCode
    - PreferredContactMethod
    - Prefix
    - Province
    - RequiresFinance
    - SalaryRange
    - Source
    - SpecialEmployer
    - SpecialOccupation
    - StreetName
    - UseSakani
    properties:
      Prefix:
        type: string
      FirstName:
        type: string
      MiddleNames:
        type: string
      LastName:
        type: string
      JobTitle:
        type: string
      EmailAddress:
        type: string
      MobileCountryCode:
        type: string
      MobileNumber:
        type: string
      Category:
        type: string
      Nationality:
        type: string
      IDType:
        type: string
      IDNumber:
        type: string
      IDExpirationDate:
        type: string
      IDExpirationDateHijri:
        type: string
      DateOfBirth:
        type: string
      DateOfBirthHijri:
        type: string
      PlaceOfIssue:
        type: string
      Gender:
        type: string
      MaritalStatus:
        type: string
      BankId:
        type: string
      IBAN:
        type: string
      PreferredContactMethod:
        type: string
      DoNotCallFlag:
        type: boolean
      DoNotSMS:
        type: boolean
      DoNotEmailFlag:
        type: boolean
      DoNotMailFlag:
        type: boolean
      Country:
        type: string
      City:
        type: string
      Building:
        type: string
      StreetName:
        type: string
      DistrictName:
        type: string
      AddressUnitNo:
        type: string
      PostalCode:
        type: string
      AdditionalNo:
        type: string
      POBox:
        type: string
      Province:
        type: string
      Source:
        type: string
      ForgeRockID:
        type: string
      RequiresFinance:
        type: string
      MOHBeneficiary:
        type: string
      AgeRange:
        type: string
      SalaryRange:
        type: string
      FamilySize:
        type: string
      SpecialEmployer:
        type: string
      SpecialOccupation:
        type: string
      Disabled:
        type: string
      UseSakani:
        type: string
      FirstNameEnglish:
        type: string
      MiddleNamesEnglish:
        type: string
      LastNameEnglish:
        type: string
  CreateContact-response-wrapper:
    type: object
    required:
    - ContactId
    - RegistryID
    - msg
    properties:
      msg:
        type: string
      RegistryID:
        type: string
      ContactId:
        type: string
  CheckContactExists-request-wrapper:
    type: object
    required:
    - Email
    - FirstName
    - IdNumber
    - Mobile
    - MobileCountryCode
    properties:
      IdNumber:
        type: string
      Email:
        type: string
      Mobile:
        type: string
      MobileCountryCode:
        type: string
      FirstName:
        type: string
  CheckContactExists-response-wrapper:
    type: object
    required:
    - ContactDetails
    - ContactExists
    - Count
    - msg
    properties:
      ContactExists:
        type: string
      msg:
        type: string
      Count:
        type: number
      ContactDetails:
        type: array
        items:
          $ref: '#/definitions/CheckContactExistsresponsewrapper_ContactDetails'
        minItems: 1
  APIInvocationError_errorDetails:
    type: object
    required:
    - errorCode
    - errorPath
    - instance
    - title
    - type
    properties:
      type:
        type: string
      instance:
        type: string
      title:
        type: string
      errorPath:
        type: string
      errorCode:
        type: string
  CheckContactExistsresponsewrapper_ContactDetails:
    type: object
    required:
    - ContactId
    - ContactRegistryId
    properties:
      ContactId:
        type: string
      ContactRegistryId:
        type: string
